.idea {
  /**
   * Next three styles are repeated in welcome
   * container
   */
  background-color: #000000;
  border: 1px solid #282828;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.idea-section-header {
  font-weight: bold;
}

.idea-section-text {
  margin-top: 10px;
}

.idea-upvote-button {
  cursor: pointer;
}

.idea-section,
.idea-upvote-button-container {
  margin-top: 20px;
}