.share-idea-modal-row-button {
  text-align: center;
}

.share-idea-modal-submit-button {
  background-color: #1DA1F2;
  height: 50px;
  width: 100%;
}

.share-link-button {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: 120px;
}

.share-link-buttons-container {
  display: flex;
}

.share-link-button-icon {
  cursor: pointer;
}

.share-link-button-second {
  margin-left: 30px;
}

.share-link-text-input {
  background-color: #15181C;
  border: 1px solid #282828;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  height: 30px;
  padding: 10px;
  width: 100%;
}

.share-link-button-icon,
.share-link-button-text {
  text-align: center;
}